<div class="card" *ngIf="comments && comments.length>0">
    <ul class="list-unstyled">                        
        <li class="media" *ngFor="let comment of comments"> 
            <span class="round pt-2">
                <img src="https://img.icons8.com/bubbles/100/000000/groups.png" class="align-self-start mr-3">
            </span>
            <div class="media-body">
                <div class="row d-flex">
                    <h6 class="user pt-2">Michael Andrews</h6>
                    <div class="ml-auto">
                        <p class="text">3m</p>
                    </div>
                </div>
                <p class="text">Liked four of your artworks</p>
                <div class="images mt-2"> <img src="https://img.icons8.com/bubbles/100/000000/couple-icloud.png" /> <img src="https://img.icons8.com/bubbles/100/000000/check-male.png" /> <img src="https://img.icons8.com/bubbles/100/000000/lock-female-user.png" /> <img src="https://img.icons8.com/bubbles/100/000000/lock-male-user.png" /> </div>
            </div>
        </li>
    </ul>
</div>