<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class=" mr-0 mr-md-2 d-flex content-logo">
        <div class="logo"></div>
        <span class="mt-1 d-none d-sm-block">Postings</span>
    </a>

    <div class="d-none d-sm-block ml-2">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/publicaciones">
            <fa-icon [icon]="faHome"></fa-icon>
            <span class="link"> Home</span>
        </a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/publicaciones">
            <fa-icon [icon]="faStickyNote"></fa-icon>
            <span class="link">My Posts</span>
        </a>
    </div>
    <button class="navbar-toggler ml-auto" (click)="collapse=!collapse" type="button" aria-expanded="false"
        aria-label="Toggle navigation">
        <fa-icon [icon]="faBars" [styles]="{'stroke': 'white', 'color': 'white'}" size="lg"></fa-icon>
    </button>
    <div (click)="collapse=true" [ngClass]="{ collapse: collapse, 'navbar-collapse': true }">
        <ul class="d-block d-sm-none mr-auto navbar-nav">
            <li class="nav-item d-flex">
                <ng-container *ngTemplateOutlet="hello"></ng-container>
               <ng-container *ngTemplateOutlet="circle_user"></ng-container>
            </li>
            <li class="nav-item d-flex"> 
                <fa-icon [icon]="faHome" class="mt-2"></fa-icon>
                <a class="nav-link ml-1" routerLinkActive="active" routerLink="/publicaciones">Home
                </a>
            </li>            
            <li class="nav-item d-flex">      
                <fa-icon [icon]="faStickyNote" class="mt-2"></fa-icon>         
                <a class="nav-link ml-1" routerLinkActive="active" routerLink="/publicaciones">Home
                </a>
            </li>
            <li class="nav-item d-flex">   
                <fa-icon [icon]="faCog" class="mt-2"></fa-icon>             
                <a class="nav-link ml-1" routerLinkActive="active" routerLink="/publicaciones">Settings
                </a>
            </li>
            <li class="nav-item d-flex">  
                <fa-icon [icon]="faSignOutAlt" class="mt-2"></fa-icon>             
                <a class="nav-link ml-1" routerLinkActive="active" (click)="logut()">Logout
                </a>
            </li>
        </ul>
    </div>
    <div class="d-none d-sm-flex">
        <ng-container *ngTemplateOutlet="hello" ></ng-container>
        <ng-container *ngTemplateOutlet="circle_user"></ng-container>
    </div>
</nav>

<ng-template #circle_user>
    <div ngbDropdown>
        <a class="navbar-brand circle" routerLink="/publicaciones" ngbDropdownToggle>
            <img  width="35" height="35" src="{{user.avatar}}" alt="Profile">
            <fa-icon [icon]="faChevronDown" size="xs" class="ml-1 d-none d-sm-inline-flex"></fa-icon>
        </a>
        <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/publicaciones"><fa-icon [icon]="faCog" class="mr-2"></fa-icon>Settings</a>
          <a class="dropdown-item" (click)="logut()" style="cursor: pointer;"><fa-icon [icon]="faSignOutAlt" class="mr-2"></fa-icon>Logout</a>

        </div>
    </div>
</ng-template>

<ng-template #hello>
    <div class="nav-item mr-2 mt-2 p-1 user-welcome">
        Hola {{user.name}}!!
    </div>
</ng-template>