@import "../../../../../assets/variables.scss";

.age{
    font-size: 12px;
    float: right;
    font-style: italic;
}

.comments-count{
    cursor: pointer;
    &:hover{
        color: $color-blue-2;
        background-color: transparent;
    }
}