


@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Exo+2:wght@300;400;600&display=swap');


/* You can add global styles to this file, and also import other style files */

@import "../assets/variables.scss";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: $font-family-1 !important; 
    background-color: $background-posts !important;
}





@import "~bootstrap/scss/bootstrap";

.login-background{
    background-color: $background-login !important;
    background-image: $background-image-login !important;     
}

.title{
    font-family: $font-family-2;
}



/**Comentarios ***\
\*****************/

.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);

    textarea {
      width: 100%;
      resize: none;
    }


}

.comment-group {   
    display: table;
    width: 100%;
    min-height: 5.3125rem;

}

.comment-text {
    margin-bottom: 1.25rem;
    color: $text-color;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}