
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}
$color-background-scroll: #ededed;
$color-background-scroll-1: #b0bcc6;

@mixin custom-scroll-bar {
    &::-webkit-scrollbar {
        width: 7px;
        @content
    }
    &::-webkit-scrollbar-track  {
        background: $color-background-scroll; 
        @content}
    &::-webkit-scrollbar-thumb  {
        background: $color-background-scroll-1; 
        @content}
    &::-webkit-scrollbar-thumb:hover  {
        background: $color-background-scroll-1; 
        @content}
}



$font-family-1: 'Exo 2', sans-serif;
$font-family-2: 'Architects Daughter', cursive;
$color-blue:#396afc;
$color-blue-1:#2948ff;
$color-blue-2:#00a4e4;
$color-green:rgb(104, 145, 162);
$weight:500;

$font-size-18: 18px;

$background-login: #fefefe;
$background-image-login: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);


$background-posts:#F0F2FA;

$placeholder: #ced2db;
$text-color: #555f77;
$links: #0095ff;

